*{
    padding: 0;
    margin: 0;
    font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    background: linear-gradient(135deg, #000c29 0%, #00154d 40%, #003399 100%);
    height: 220vh;
}
.nav-container{
    width: 100%;
}
.navbar{
    width: 100%;
    position: fixed;
}
.fa-regular{
    margin: 10px;
}
.ul-nav{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
}
.li-nav{
    margin: 20px;
    list-style-type: none;
}
.a-nav{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.a-nav:hover{
    color: #00E5FF;
}
.Experience-container{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 50vh;
 }
 .EXPERIENCE{
     color: white;
     width: 120px;
     padding: 7px;
     font-size: 20px;
     animation-name: Animation;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
 }
 @keyframes Animation {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }
 .EXPERIENCE:hover{
     color: rgb(98, 255, 213);
 }
 .content{
     width: 100%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .text-content{
     text-align: center;
     margin: 20px;
 }
 .card{
    height: 80px;
    width: 300px;
     border: 1px solid white;
     padding: 20px;
     border-radius: 6px;
     background-color: white;
     box-shadow: 2px 2px 2px 2px rgb(255, 155, 155);
     animation-name: card-Animation;
     animation-duration: 4s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
 }
 @keyframes card-Animation{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
 }
 .skill{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 50vh;
 }
