*{
    padding: 0;
    margin: 0;
    font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    background: linear-gradient(135deg, #000c29 0%, #00154d 40%, #003399 100%);
    height: 100vh;
}
.nav-container{
    width: 100%;
}
.navbar{
    width: 100%;
    position: fixed;
}
.fa-regular{
    margin: 10px;
}
.ul-nav{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
}
.li-nav{
    margin: 20px;
    list-style-type: none;
}
.a-nav{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.a-nav:hover{
    color: #00E5FF;
}

/* profil */
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.profil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.h1-profil{
     color: white;
     justify-content: center;
     align-items: center;
     padding-top: 15px;
     display: flex;
     animation-name: h1-Animation;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
}
@keyframes h1-Animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}
.p-profil{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: aliceblue;
    animation-name: h1-Animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
